body, html {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    font-family: 'Archivo', sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    mix-blend-mode: exclusion;
}

.contact header, .contact a{
    color: black;
    text-decoration: none;
    mix-blend-mode: normal;
}

.index a {
  text-decoration: none;
  color: white;
  font-family: 'Archivo', sans-serif;
  
}


.contact{
    mix-blend-mode: normal; 
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }

.contact header{
    position: static;
   }

.contact header:nth-child(2) {
    align-self: center;
    justify-self: center;
}

h1 {
    all: unset;
    padding: 1%;
    font-size: clamp(1.5rem, 1.306rem + 0.864vw, 2.083rem);
  letter-spacing: 1em;
}

.stella {
    height: clamp(2rem, 1.741rem + 1.152vw, 2.777rem);
    width: auto; 
    display: inline-block;
    vertical-align: middle;
}

#titlepage h1{letter-spacing: 0;}


header a{
    padding: 1%;
}

#bgvideo {
    z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  align-self: center;
  object-fit: cover;
}

.index ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.index ul, .index li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {font-size: clamp(1.2rem, 1.044rem + 0.694vw, 1.667rem);}

.menu {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  mix-blend-mode: exclusion;
}

#cv-contact {
  display: flex;
    flex: 1; 
  flex-direction: row;
  padding: 0;
  padding-left: 2.5%;
  padding-right: 2.5%;
   font-size: clamp(0.95rem, 0.822rem + 0.569vw, 1.333rem);
 }
.cv{width: 75%; }
.contacts{width: 25%;}
.cv, .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}


#cv-contact ul{
    height:auto;
    gap: .25rem;
    margin: .75rem;
}


#cv-contact ul,
#cv-contact li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
}



#cv-contact h3, 
#cv-contact p {
    margin: 0;
}

footer p{
    font-size: clamp(0.625rem, 0.5739rem + 0.2273vw, 0.75rem);
   
    padding: 0;
}

footer {
  bottom: 0%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
  }

@media (max-width: 768px) {
  .index ul {
    flex-direction: column;
    gap: 1rem;
  }

  .cv, .contacts {
    width: 100%;
  }

  .cv{
    margin-bottom: 5rem;
  }

  .contact header {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  
  .contact header #titlepage {
    width: 100%;       
    text-align: center; 
    order: 3;         
    padding-top: 1rem;
  }

  h1, h2, header a {
    padding: 2.5%;
  }

  #cv-contact {
    flex-direction: column;
    padding-bottom: 15%;
  }

  #cv-contact ul{
    padding: 2.5%;
    margin: 0;
    gap: 1rem;
    margin:0;
    margin-bottom: 1rem;
  }
}